.register {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.form-register {
    display: flex;
    width: 75%;
    margin: 1rem;
    background: #ffffff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
}

span, form {
    width: 100%;
}

.form-register span {
    padding: 1rem;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-register span > button {
    grid-column: 1/-1;
    padding: 10px 16px;
    background: #171717;
    color: #f4f4f4;
    border: 1px solid #171717;
    cursor: pointer;
}

.form-register select {
    padding: 10px 16px;
}